 body {
				background-color:black ;
				color:white ;
				text-align: center;
}

 img {
				width: auto;
				height: auto;
}

.home { 
				width: 50%; 
				height: 50%; 
				background: #000; 
				margin: 0 auto; 
				text-align: center; 
				padding: 1em; 
} 

.home a { 
				color: #00f; 
				width: 10%; 
				background: #ccc; 
				text-decoration: none; 
				padding: 0.2em 0.5em; 
}

.home a:hover { 
				color: #fff;
}

.home { 
	width: 50%; 
	height: 50%; 
	background: #000; 
	margin: 0 auto; 
	text-align: center; 
	padding: 1em; 
} 

.home a { 
	color: #00f; 
	width: 10%; 
	background: #ccc; 
	text-decoration: none; 
	padding: 0.2em 0.5em; 
}

.home a:hover { 
	color: #fff;
	width: auto;
	height: auto;
}

 p1 {
	 			color: #00f;
				font-size:30px;
}

.text {
			text-align: left;
			top: 1000px;
}

.chislo {
			text-align: left;
			color: red;
}
.text {
	text-align: center;
	color: blueviolet;
}
p2 {
	color: gold;
}
